body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin-left: 20;
}

.clr{
    clear: both;
}

.primary-header {
    background-color: #76ee00;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#navbar{
    background-color: #333;
    color: #fff;
    overflow: hidden;
    margin-bottom: 10px;
}

#navbar ul{
    padding-left: 5;
    list-style: none;
    margin: 5;
}

#navbar li{
    display: inline;
}

.clientblock{
    float: left;
    width: 200px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px gray;
    box-sizing: border-box;    
}

.clientblock ul{
    padding: 0;
    list-style: none;
}

.clientblock li{
    width: 150px;
    height: 30px;
    position: relative;
    left: 10px;
    top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset -2px -3px 3px rgba(0,0,0,0.5);
    font-size: 14px;
}

.clientblock button{
    border: none;
}

.ondeck{
    border: 2px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px gray;
}

.ondeck ul{
    padding: 0;
    list-style: none;
}

.ondeck li{
    display: inline-block;
    width: 150px;
    height: 30px;
    position: relative;
    left: 10px;
    top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: rgb(100, 201, 201);
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset -2px -3px 3px rgba(0,0,0,0.5);
    font-size: 14px;
}
.ondeck button{
    border: none;
    background-color: rgb(100, 201, 201);
}

.primary-footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}